---
const { link, description, banner } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="author" content="JadeBetty" />


<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content=`JadeBetty - ${link}`  />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content=`/images/${banner}` />


<meta
  name="description"
  content={description}
/>
<title>JadeBetty - {link}</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/x-icon" href="/images/favicon.jpg" />
