---
export interface Props {
  owner: string;
  repo: string;
  description: string;
  language: string;
}
const { owner, repo, description, language } = Astro.props;
---

<a href=`https://github.com/${owner}/${repo}` target="_blank" class="text-text">
  <div
    class="bg-[#141510] rounded-[30px] transition-all hover:scale-110 active:scale-90 ease-in-out w-[379px] h-[173px]"
  >
    <div class="p-[25px]">
        <span class="text-[#4EC2A7] text-[26px]">{repo}</span>
        <p class="text-base mt-20px">{description}</p>
        <div>{language}</div>
    </div>
    

  </div>
</a>
